<div class="container my-5">
  <h2><strong><%= t('dictionary.title_head.Favorites List') %></strong></h2>
  <div class="row">
    <div class="col-md-9 mx-auto">
      <% @favorite_post_images.reverse.each do |post_image| %>
        <%= link_to post_image_path(post_image.id) do %>
          <!--複数枚の写真を表示-->
          <% if post_image.images.attached? %>
            <div id="post-images">
              <div class="theTarget">
                <!-- ↑↑↑ eachで繰り返し処理をしているので、「id」ではなく「class」を指定-->
                <% post_image.images.each do |image| %>
                  <%= image_tag image, size:"300x300" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p>
                <%= t('dictionary.title_head.Date') %>：<%= l post_image.created_at %>
              </p>
            </div>
            <div class="col-md-4">
              <p>
                <%= t('dictionary.title_head.Location') %>：<%= post_image.area.area_name %>
              </p>
            </div>
            <div class="col-md-4">
              <%= link_to user_path(post_image.user.id) do %>
                <p>
                  <%= t('dictionary.title_head.Contributor') %>：<%= post_image.user.name %>
                </p>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p class="overflow-wrap">
                <span class="alert-dark p-1">Title</span>
                <%= safe_join(post_image.title.split("\n"),tag(:br)) %>
              </p>
            </div>
          </div>
          <hr>
        </div>
      <% end %>
    </div>
  </div>
</div>




