<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><strong>フォロワー一覧</strong></h2>


      <table class="table table-white">
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td class="text-center">
              <%= link_to user_path(user.id) do %>
                <%= attachment_image_tag user, :profile_image, fallback:'no-image.jpg', size:"100x100", class:"rounded-circle" %><br>
                <%= user.name %>
              <% end %>
            </td>
            <td>
              フォロー数：<%= user.followings.count %>
              |
              フォロワー数：<%= user.followers.count %>
            </td>
            <td>
              <% if user != current_user %>
                <% if current_user.followings?(user) %>
                  <%= link_to 'フォローをはずす', user_relationships_path(user.id), method: :delete, class:"btn btn-outline-primary" %>
                <% else %>
                  <%= link_to 'フォローする', user_relationships_path(user.id), method: :post, class:"btn btn-outline-success" %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>