<div class="container my-5">

  <!--ログインユーザーかどうかで表示を変更-->
  <% if @user == current_user %>
    <h2><strong><%= t('dictionary.title_head.My Page') %></strong></h2>
  <% else %>
    <h2><strong><%= @user.name %> <%= t('dictionary.title_head.user_page') %></strong></h2>
  <% end %>


  <!--ここからプロフィール-->
  <div class="card">
    <div class="card-body">
      <h3><strong><%= t('dictionary.title_head.Profile') %></strong></h3>
      <hr>
      <div class="row">
        <div class="col-xs-5 text-center mx-auto mb-2">
          <%= attachment_image_tag @user, :profile_image, fallback:"no-image.jpg", size:"200x200", class:"rounded-circle" %>
          <p class="overflow-wrap">
            <%= safe_join(@user.name.split("\n"),tag(:br)) %>
          </p>
          <!--ここからプロフィール編集ボタンorフォロー・フォロワーボタン-->
          <!--プロフィール編集ボタン-->
          <% if @user == current_user %>
            <%= link_to t('dictionary.button.Profile Edit'), edit_user_path(@user.id), class:"btn btn-outline-secondary btn-lg w-100" %>
          <% else %>
            <!--フォロー・フォロワーボタン-->
            <div id="relatinship-<%= @user.id %>">
              <span id="followings-btn-<%= @user.id %>">
                <%= render 'relationships/followings?', user: @user %>
              </span>
            </div>
          <% end %>
        </div>

        <div class="col-xs-7 mx-auto">
          <div>
            <h4><strong><%= t('dictionary.title_head.Introduction') %></strong></h4>
            <p class="overflow-wrap">
              <%= @user.introduction %>
            </p>
          </div>
          <hr>

          <!--ここからフォロー・フォロワー数表示-->
          <div class="h5">
            <p>
              <span id="followings-count">
                <%= render 'relationships/followings_count', user: @user %>
              </span>
              
              <span id="followers-count-<%= @user.id %>">
                <%= render 'relationships/followers_count', user: @user %>
              </span>
            </p>
            <hr>
            <!--いいねした投稿一覧-->
            <p>
              <%= link_to favorites_user_path(@user) do %>
                <i class="fas fa-heart text-danger"></i><%= t('dictionary.title_head.Favorites list') %>
              <% end %>
            </p>
          </div>
          <hr>

          <!--ヘッダーと同じリンクボタン-->
          <div class="container mt-3">
            <div class="row">
              <div class="col-xs-4 text-center ml-2">
                <%= link_to new_post_image_path, class:"btn btn-outline-secondary px-4" do %>
                  <i class="fas fa-camera fa-4x"></i>
                  <p><%= t('dictionary.title_head.New Post') %></p>
                <% end %>
              </div>
              <div class="col-xs-4 text-center ml-2">
                <%= link_to post_images_path, class:"btn btn-outline-secondary px-4" do %>
                  <i class="fas fa-search fa-4x"></i>
                  <p><%= t('dictionary.title_head.Search') %></p>
                <% end %>
              </div>
              <div class="col-xs-4 text-center ml-2">
                <%= link_to users_path, class:"btn btn-outline-secondary px-4" do %>
                  <i class="fas fa-users fa-4x"></i>
                  <p><%= t('dictionary.title_head.Users List') %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!--ここからユーザー投稿一覧-->
  <div class="row">
    <% @user.post_images.reverse.each do |post_image| %>
      <div class="col-xs-12 mx-auto">
        <div class="card-body">
          <%= link_to post_image_path(post_image.id) do %>
            <!--複数枚の写真を表示-->
            <% if post_image.images.attached? %>
              <div id="mypage-post-images">
                <div class="index-theTarget">
                  <!-- ↑↑↑ eachで繰り返し処理をしているので、「id」ではなく「class」を指定-->
                  <% post_image.images.each do |image| %>
                    <%= image_tag image %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
          <p>
            <i class="far fa-calendar-alt"></i>：<%= l post_image.created_at %>
            <i class="far fa-comment ml-4"></i>：<%= post_image.post_comments.count %>
          </p>
          <p>
            <span class="alert-dark p-2">Title</span><%= post_image.title %>
          </p>
        </div>
        <hr>
      </div>
    <% end %>
  </div>
</div>