<div class="container">

  <!--ログインユーザーかどうかで表示を変更-->
  <% if @user == current_user %>
    <h2><strong>マイページ</strong></h2>
  <% else %>
    <h2><strong><%= @user.name %>のページ</strong></h2>
  <% end %>


  <!--ここからプロフィール-->
  <h6><strong>プロフィール</strong></h6>
  <div class="row">
    <div class="col-md-3 text-center">
      <%= attachment_image_tag @user, :profile_image, fallback:"no-image.jpeg", size:"200x200", class:"rounded-circle" %><br>
      <%= @user.name %>
    </div>
    <div class="col-md-5">
      <div>
        <p><strong>Introduction</strong></p>
        <p><%= @user.introduction %></p>
      </div>

      <!--ここにフォロー・フォロワー数表示予定-->
      <div>

      </div>
    </div>

    <!--ヘッダーと同じリンクボタン-->
    <div class="col-md-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <%= link_to new_post_image_path do %>
              <div class="bg-light text-secondary text-center">
                <i class="fas fa-camera fa-4x"></i>
                <p>新規投稿</p>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= link_to post_images_path do %>
              <div class="bg-light text-secondary text-center">
                <i class="fas fa-search fa-4x"></i>
                <p>探索</p>
              </div>
            <% end %>
          </div>

          <div class="col-md-6">
            <%= link_to users_path do %>
              <div class="bg-light text-secondary text-center">
                <i class="fas fa-users fa-4x"></i>
                <p>ユーザー一覧</p>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--ここからプロフィール編集ボタン-->
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'プロフィール編集', edit_user_path(@user.id), class:"btn btn-secondary w-100" %>
    </div>
  </div>


  <!--ここからユーザー投稿一覧-->
  <div class="row">
    <% @user.post_images.reverse.each do |post_image| %>
      <div class="col-md-12">
        <div class="card-body">
          <%= link_to post_image_path(post_image.id) do %>
            <%= attachment_image_tag post_image, :image, size:"800x500" %>
          <% end %>
          <p>
            投稿日：<%= l post_image.created_at %>
            |
            コメント数：<%= post_image.post_comments.count %>件
          </p>
          <p>
            タイトル：<%= post_image.title %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>








