<div class="container">

  <!--ログインユーザーかどうかで表示を変更-->
  <% if @user == current_user %>
    <h2><strong>マイページ</strong></h2>
  <% else %>
    <h2><strong><%= @user.name %>のページ</strong></h2>
  <% end %>


  <!--ここからプロフィール-->
  <h6><strong>プロフィール</strong></h6>
  <div class="row">
    <div class="col-md-3 text-center">
      <%= attachment_image_tag @user, :profile_image, fallback:"no-image.jpg", size:"200x200", class:"rounded-circle" %><br>
      <%= @user.name %>
    </div>
    <div class="col-md-5">
      <div>
        <p><strong>自己紹介</strong></p>
        <p><%= @user.introduction %></p>
      </div>
      <hr>

      <!--ここからフォロー・フォロワー数表示-->
      <div>
        <p>
          <span id="followings-count">
            <%= render 'relationships/followings_count', user: @user %>
          </span>
          |
          <span id="followers-count-<%= @user.id %>">
            <%= render 'relationships/followers_count', user: @user %>
          </span>
        </p>
      </div>
    </div>

    <!--ヘッダーと同じリンクボタン-->
    <div class="col-md-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <%= link_to new_post_image_path do %>
              <div class="bg-light text-secondary text-center">
                <i class="fas fa-camera fa-4x"></i>
                <p>新規投稿</p>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= link_to post_images_path do %>
              <div class="bg-light text-secondary text-center">
                <i class="fas fa-search fa-4x"></i>
                <p>探索</p>
              </div>
            <% end %>
          </div>

          <div class="col-md-6">
            <%= link_to users_path do %>
              <div class="bg-light text-secondary text-center">
                <i class="fas fa-users fa-4x"></i>
                <p>ユーザー一覧</p>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!--ここからプロフィール編集ボタンorフォロー・フォロワーボタン-->
  <div class="row">
    <div class="col-md-12">
      <% if @user == current_user %>
        <%= link_to 'プロフィール編集', edit_user_path(@user.id), class:"btn btn-outline-secondary w-100" %>
      <% else %>

        <div id="relatinship-<%= @user.id %>">
          <span id="followings-btn-<%= @user.id %>">
            <%= render 'relationships/followings?', user: @user %>
          </span>
        </div>
      <% end %>
    </div>
  </div>


  <!--ここからユーザー投稿一覧-->
  <div class="row">
    <% @user.post_images.reverse.each do |post_image| %>
      <div class="col-md-9">
        <div class="card-body">
          <%= link_to post_image_path(post_image.id) do %>
            <!--複数枚の写真を表示-->
            <% if post_image.images.attached? %>
              <div id="post-images">
                <div class="theTarget">
                  <!-- ↑↑↑ eachで繰り返し処理をしているので、「id」ではなく「class」を指定-->
                  <% post_image.images.each do |image| %>
                    <%= image_tag image, size:"800x500" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
          <p>
            投稿日：<%= l post_image.created_at %>
            |
            コメント数：<%= post_image.post_comments.count %>件
          </p>
          <p>
            タイトル：<%= post_image.title %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>