<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">

    <!--ロゴのリンク設定-->
    <%= link_to root_path, class:"navbar-brand py-1" do %>
      <%= image_tag('logo.jpg', size:"150x80")  %>
    <% end %>

    <%= link_to t('dictionary.title_head.Guest Sign In'), users_guest_sign_in_path, method: :post, class: "btn btn-success ml-5" %>


    <!--ナビゲーションアイコン（ハンバーガーメニュー）の表示部分-->
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="NavbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--ヘッダーリンク部分-->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li>
          <%= link_to t('dictionary.title_head.Posts List'), post_images_path, class:"nav-link mx-2" %>
        </li>
        <li>
          <%= link_to t('dictionary.title_head.Sign In'), new_user_session_path, class:"nav-link mx-2" %>
        </li>
        <li>
          <%= link_to t('dictionary.title_head.Sign Up'), new_user_registration_path, class:"nav-link mx-2" %>
        </li>
        <li>
          <% if I18n.locale.to_s == "en" %>
            <%= link_to('日本語', { :locale => 'ja' }, { class: "btn btn-light ml-3" }) %>
          <% else %>
            <%= link_to('English', { :locale => 'en' }, { class: "btn btn-light ml-3" }) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>