<div class="container">

  <!--キーワード検索フォーム-->
  <%= form_tag(post_images_path, :method => "get") do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'キーワード検索', :caption => nil, class:"button is-info" %>
  <% end %>
  <h2><strong>投稿一覧</strong></h2>

  <div class="row">


    <% if user_signed_in? %>
      <!--ログイン時-->
      <!--エリア検索-->
      <%= render 'areas/areas_index', areas: @areas %>

      <div class="col-md-10">
        <div class="container">
          <div class="row">
            <!--投稿一覧-->
            <% @post_images.reverse.each do |post_image| %>
              <div class="col-md-4 p-1">
                <% if post_image.images.attached? %>
                  <%= link_to post_image_path(post_image.id) do %>
                    <div id="loginIndex-post-images">
                      <div class="index-theTarget">
                        <% post_image.images.each do |image| %>
                          <%= image_tag image, size:"300x300" %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <% else %>
      <!--ログアウト時-->
      <!--投稿一覧-->
        <% @post_images.reverse.each do |post_image| %>
          <div class="col-md-3 p-1">
            <% if post_image.images.attached? %>
              <%= link_to post_image_path(post_image.id) do %>
                <div id="logoutIndex-post-images">
                  <div class="index-theTarget">
                    <% post_image.images.each do |image| %>
                      <%= image_tag image, size:"280x280" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
    <% end %>

  </div>
</div>