<div class="container">
  <h2><strong>投稿詳細画面</strong></h2>

  <div class="row">

    <% if user_signed_in? %>

      <!--ログインしている時-->
      <div class="col-md-9">

        <!--複数枚の写真を表示 スライドショー適用-->
        <% if @post_image.images.attached? %>
          <div id="post-images">
            <div class="theTarget">
              <% @post_image.images.each do |image| %>
                <%= image_tag image, size:"800x500" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="row mt-1">
          <div class="col-md-6">
            <p>
              投稿日時：<%= l @post_image.created_at %>
              |
              撮影場所：<%= @post_image.area.area_name %>
            </p>
          </div>

          <div class="col-md-6">
            <p id="post_image-<%= @post_image.id %>">
              <span class="comments-count">
                コメント数：<%= @post_image.post_comments.count %>件
              </span>
              |
              <!--「いいね」機能-->
              <span class="favorite-btn">
                <%= render 'favorites/favorite', post_image: @post_image %>
              </span>
              |
              <!--「発見」機能-->
              <span class="discover-btn">
                <%= render 'discovers/discover', post_image: @post_image %>
              </span>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <!--投稿者-->
            <%= link_to user_path(@post_image.user.id) do %>
              <div class="text-center">
                <%= attachment_image_tag @post_image.user, :profile_image, fallback:"no-image.jpg", size:"150x150", class:"rounded-circle" %>
                <p><%= @post_image.user.name %></p>
              </div>
            <% end %>
          </div>

          <!--投稿内容-->
          <div class="col-md-6 mt-2">
              <p>
                <span class="alert-dark p-1">Title</span><br>
                <%= @post_image.title %>
              </p>
              <hr>
              <p>
                <%= @post_image.caption %>
              </p>
              <hr>
              <% if @post_image.user == current_user %>
              <p>
                <%= link_to '編集', edit_post_image_path(@post_image.id), class:"btn btn-outline-success" %>

                <%= link_to '削除', post_image_path(@post_image.id), method: :delete, class:"btn btn-outline-danger ml-2" %>
              </p>
              <% end %>

          </div>
        </div>
      </div>

        <!--コメント投稿-->
      <div class="col-md-3 mt-3">
        <div>
          <%= form_with model:[@post_image,@post_comment] do |f| %>
          <div>
            <%= f.text_area :comment, rows:'3', class:"w-100", placeholder:"ここにコメントを入力してね！" %><br>
            <%= f.submit '送信', class:"btn btn-primary w-50" %>
          </div>
          <% end %>
        </div>

        <!--コメント一覧-->
        <div class="mt-4">
          <h6><strong>コメント一覧</strong></h6>
          <div class="comments-area" style="height:600px; width:350px; overflow-y:scroll;">
            <%= render 'post_comments/post_comment', post_image: @post_image %>
          </div>
        </div>

      </div>


    <% else %>

      <!--ログインしていない時-->
      <div class="col-md-12">

        <!--複数枚の写真を表示 スライドショー適用-->
        <% if @post_image.images.attached? %>
          <div id="post-images">
            <div class="theTarget">
              <% @post_image.images.each do |image| %>
                <%= image_tag image, size:"800x500" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="row mt-1">
          <div class="col-md-5">
            <p>
              投稿日時：<%= l @post_image.created_at %>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <!--投稿者-->
            <div class="text-center">
              <%= attachment_image_tag @post_image.user, :profile_image, fallback:"no-image.jpg", size:"150x150", class:"rounded-circle" %>
              <p><%= @post_image.user.name %></p>
            </div>
          </div>

          <!--投稿内容-->
          <div class="col-md-6 mt-2">
            <p>
              タイトル：<%= @post_image.title %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


