<!DOCTYPE html>
<html>
  <head>
    <title>PFMikke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if user_signed_in? %>
      <header class="shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">

            <!--ロゴのリンク設定-->
            <%= link_to user_path(current_user), class:"navbar-brand py-1" do %>
              <%= image_tag('logo.jpg', size:"150x80") %>
            <% end %>

            <!--言語切り替えボタン-->
            <% if I18n.locale.to_s == "en" %>
              <%= link_to('日本語', { :locale => 'ja' }, { class:"btn btn-light btn-lg ml-5" }) %>
            <% else %>
              <%= link_to('English', { :locale => 'en' }, { class:"btn btn-light btn-lg ml-5" }) %>
            <% end %>

                        <!--※ search.html.erbの言語切り替えについて ※-->
                        <!--PF作成当初URLをクエリパラメータにて取得していたが、多言語化との相性が悪くパスパラメータでの取得に切り替え-->
                        <!--クエリパラメータのまま作成するには、-->
                        <%# if request.query_parameters.any? %>
                          <%#= link_to('back', map_areas_path, { class:"btn btn-light btn-lg ml-5" }) %>
                        <%# else %>
                          <%# if I18n.locale.to_s == "en" %>
                            <%#= link_to('日本語', { :locale => 'ja' }, { class:"btn btn-light btn-lg ml-5" }) %>
                          <%# else %>
                            <%#= link_to('English', { :locale => 'en' }, { class:"btn btn-light btn-lg ml-5" }) %>
                          <%# end %>
                        <%# end %>



            <!--ナビゲーションアイコン（ハンバーガーメニュー）の表示部分-->
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="NavbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!--ヘッダーリンク部分-->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="gnavi navbar-nav ml-auto font-weight-bold">
                <li>
                  <%= link_to t('dictionary.title_head.My Page'), user_path(current_user), class:"nav-link mx-2" %>
                </li>
                <li>
                  <%= link_to t('dictionary.title_head.New Post'), new_post_image_path, class:"nav-link mx-2" %>
                </li>
                <li>
                  <%= link_to t('dictionary.title_head.Area Exploration'), map_areas_path, class:"nav-link mx-2" %>
                </li>
                <li>
                  <%= link_to t('dictionary.title_head.Users List'), users_path, class:"nav-link mx-2" %>
                </li>
                <li>
                  <%= link_to t('dictionary.title_head.Log Out'), destroy_user_session_path, method: :delete, class:"nav-link mx-2" %>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </header>
    <% end %>


    <%= yield %>


    <footer class="text-center bg-light">
      <p class="py-4">©️ Yamamoto Yuki</p>
    </footer>
  </body>
</html>
